@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

.dotted-pattern {
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}