---
import { Header } from "@components/misc";
import { BaseHead } from "@components/seo";
import { SITE_TITLE } from "@data/index";
import { SITE_DESCRIPTION } from "@data/index";
import RootLayout from "@layouts/root-layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Tech Stack | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
      image="/images/ogimage.png"
    />
  </head>

  <RootLayout>
    <div class="flex flex-col w-full gap-6 max-w-xl lowercase">
      <Header />
      <h1 class="text-3xl font-medium">Tech Stack</h1>
      <p>Coming soon...</p>
    </div>
  </RootLayout>
</html>
