---
import "../styles/global.css";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kshitij Narayan Kulkarni - Full Stack Engineer"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/picofme.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script>
      document.addEventListener("astro:page-load", () => {
        const links = document.querySelectorAll("a");
        links.forEach((link) => {
          if (
            link.href.startsWith("http") &&
            !link.href.includes(window.location.hostname)
          ) {
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener noreferrer");
          }
        });
      });
    </script>
  </body>
</html>
